.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/1619273625681.jpg");
  background-position: 58.31% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1270px;
  margin: 60px -65px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 479px;
  pointer-events: auto;
}

.u-section-1 .u-image-1 {
  background-image: url("images/MERH-top-0908_b.png");
  background-position: 50% 50%;
  transition-duration: 1s;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 479px;
  pointer-events: auto;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 3.75rem;
  font-family: Itim-Regular;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Itim-Regular;
  font-size: 1.5rem;
  margin: 80px 36px 0 56px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-family: Itim-Regular;
  margin: 80px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 355px;
    background-position: 0% 100%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 408px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 394px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 198px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-slider-1 {
  width: 441px;
  min-height: 387px;
  margin: 116px auto 0 67px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: -20px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/tinkercad.PNG");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/1619187074792.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  width: 65px;
  height: 65px;
  left: 0;
  position: absolute;
  right: auto;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 65px;
  height: 65px;
  left: auto;
  position: absolute;
  right: 0;
  background-image: none;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 467px;
  margin: -307px 0 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-family: Itim-Regular;
  animation-duration: 1000ms;
  margin: 69px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: Itim-Regular;
  animation-duration: 1000ms;
  margin: 39px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-family: Itim-Regular;
  margin: -51px 876px 0 57px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-family: Itim-Regular;
  animation-duration: 1000ms;
  margin: 39px 642px 0 62px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  font-family: Itim-Regular;
  margin: -95px 235px 60px auto;
  padding: 8px 35px 9px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-2 .u-slider-1 {
    height: auto;
    margin-top: 63px;
    margin-left: 57px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
    min-height: 469px;
    margin-top: -279px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -67px;
    margin-right: 332px;
    margin-left: 66px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 63px;
    margin-right: 445px;
    margin-left: 60px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 50px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 325px;
    min-height: 312px;
    margin-top: 89px;
    margin-left: 18px;
  }

  .u-section-2 .u-group-1 {
    width: 354px;
    min-height: 474px;
    margin-top: -62px;
    margin-right: 39px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -47px;
    margin-right: 428px;
    margin-left: 69px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 43px;
    margin-right: 257px;
    margin-left: 27px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 174px;
    margin-right: 18px;
    margin-bottom: -146px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    min-height: 443px;
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -112px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 131px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -39px;
    margin-right: -21px;
    margin-left: 21px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 29px;
    margin-right: 83px;
    margin-left: 21px;
  }

  .u-section-2 .u-btn-1 {
    margin: 332px auto -281px 204px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-slider-1 {
    min-height: 387px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    min-height: 536px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -70px;
    margin-right: 170px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 52px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 333px;
    margin-left: auto;
    margin-bottom: -283px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-group-1 {
  min-height: 518px;
  width: 570px;
  margin: 60px auto 60px 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-family: Itim-Regular;
  font-size: 3rem;
  margin: 55px 107px 0 41px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-family: Itim-Regular;
  margin: 27px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 93px auto 0;
  padding: 8px 28px 8px 27px;
}

.u-section-3 .u-slider-1 {
  width: 570px;
  left: auto;
  right: -570px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: -20px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/ard.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-2 {
  background-image: url("images/bradboard.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/utrasonic_sensor.png");
  background-position: 50% 0%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-3 .u-image-4 {
  width: 333px;
  height: 333px;
  margin: 31px auto 0;
}

.u-section-3 .u-image-5 {
  background-image: url("images/line.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-3 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 470px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 48px;
    margin-left: 40px;
  }

  .u-section-3 .u-slider-1 {
    width: 470px;
    right: -470px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 360px;
    min-height: 533px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 73px;
  }

  .u-section-3 .u-slider-1 {
    width: 381px;
    height: auto;
    min-height: 408px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -375px -411px 0 auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 40px;
    margin-left: 73px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: -60px;
    margin-left: 60px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 512px;
    margin-left: 223px;
  }

  .u-section-3 .u-slider-1 {
    width: 570px;
    margin: -544px auto -237px -15px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 40px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 573px;
    margin-left: auto;
  }

  .u-section-3 .u-slider-1 {
    min-height: 395px;
    margin-top: -554px;
    margin-bottom: -262px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-4 {
    width: 320px;
    height: 320px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-text-1 {
  font-family: Itim-Regular;
  margin: 94px 832px 0 94px;
}

.u-section-4 .u-custom-html-1 {
  min-height: 722px;
  margin: 79px 450px 0 120px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: -51px 120px 60px auto;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 726px;
  }

  .u-section-4 .u-custom-html-1 {
    height: auto;
    margin-right: 350px;
    margin-left: 20px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 506px;
  }

  .u-section-4 .u-custom-html-1 {
    min-height: 622px;
    margin-right: 172px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 326px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 126px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/1619187074792.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-list-1 {
  min-height: 396px;
  grid-template-rows: auto;
  width: 1140px;
  margin: 311px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  grid-auto-rows: 100%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 213px;
  width: 213px;
  background-image: url("images/1619189302708.jpg");
  background-position: 50% 68.12%;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  font-family: Itim-Regular;
  margin: 20px -2px 0 2px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 213px;
  width: 213px;
  background-image: url("images/1619189302715.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-family: Itim-Regular;
  margin: 20px -2px 0 2px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: solid;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 213px;
  width: 213px;
  background-image: url("images/1619189302710.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-family: Itim-Regular;
  margin: 20px -2px 0 2px;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  border-style: solid;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  height: 213px;
  width: 213px;
  background-image: url("images/1619189302713.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-family: Itim-Regular;
  margin: 20px -2px 0 2px;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  border-style: solid;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: -101px auto 0 185px;
}

.u-section-5 .u-icon-1 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-5 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: -32px auto 0 472px;
}

.u-section-5 .u-icon-2 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-5 .u-social-icons-3 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: -32px 353px 0 auto;
}

.u-section-5 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-5 .u-social-icons-4 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: -32px 55px 0 auto;
}

.u-section-5 .u-icon-4 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-5 .u-text-5 {
  font-weight: 400;
  font-family: Itim-Regular;
  animation-duration: 1000ms;
  margin: 86px auto 0 47px;
}

.u-section-5 .u-custom-html-1 {
  min-height: 85px;
  height: auto;
  animation-duration: 1000ms;
  background-image: none;
  margin: 10px 910px 60px 47px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-list-1 {
    min-height: 327px;
    height: auto;
    width: 940px;
    margin-left: 100px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
  }

  .u-section-5 .u-image-1 {
    height: 165px;
    width: 165px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-2 {
    height: 165px;
    width: 165px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-3 {
    height: 165px;
    width: 165px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-4 {
    height: 165px;
    width: 165px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-left: 285px;
  }

  .u-section-5 .u-social-icons-2 {
    margin-right: 536px;
    margin-left: auto;
  }

  .u-section-5 .u-social-icons-3 {
    margin-right: 453px;
  }

  .u-section-5 .u-social-icons-4 {
    margin-right: 155px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 131px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 650px;
    margin-top: 33px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    min-height: 638px;
    width: 720px;
    margin-left: 210px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-rows: calc(50% - 5px);
  }

  .u-section-5 .u-text-1 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-left: 434px;
  }

  .u-section-5 .u-social-icons-2 {
    margin-right: 305px;
  }

  .u-section-5 .u-social-icons-3 {
    margin-right: auto;
    margin-left: 434px;
  }

  .u-section-5 .u-social-icons-4 {
    margin-right: 305px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-left: 344px;
  }

  .u-section-5 .u-social-icons-2 {
    margin-right: 336px;
  }

  .u-section-5 .u-social-icons-3 {
    margin-left: 344px;
  }

  .u-section-5 .u-social-icons-4 {
    margin-right: 395px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 7.5px);
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-left: 400px;
  }

  .u-section-5 .u-social-icons-2 {
    margin-right: 236px;
  }

  .u-section-5 .u-social-icons-3 {
    margin-left: 400px;
  }

  .u-section-5 .u-social-icons-4 {
    margin-right: 495px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 340px;
    margin-top: 41px;
  }
}@font-face {
  font-family: 'Itim-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Itim-Regular.ttf);
}